<div class="container">
    <div class="row">
        <div class="wow fadeInUp col-md-6 col-md-offset-3 col-sm-offset-1 col-sm-10" data-wow-delay="1s">
            <form data-request="onSignin" method="post">
                <input name="login" type="text" class="form-control" id="username" placeholder="Benutzername">
                <input name="password" type="password" class="form-control" id="password" placeholder="Passwort">
                <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10">
                    <input name="submit" type="submit" class="form-control" value="LOGIN">
                </div>
            </form>
        </div>
    </div>
</div>