<section id="dresscode" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInLeft col-md-7 col-sm-7" data-wow-delay="0.9s" style="background-color:rgba(20,20,20,0.5)">
                <h2>Dresscode</h2>
                <h4>Hauptsache Wohlfühlen!</h4>
                <div class="lead">
                    Warm & lässig + Schirm bei Regen
                </div>
                <p>Im Dezember wird es kalt und wir wollen, dass ihr euch wohlfühlt. <br/> Bitte lasst die Abendgaderobe im Schrank und packt die Chucks aus!</p>
            </div>

        </div>
    </div>
</section>