<section id="gifts" class="parallax-section">
    <div class="container">
        <div class="row">



            <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.9s">
                <img src="{{ 'assets/images/gifts.jpeg'|theme }}" class="img-responsive" alt="Overview">
            </div>
            <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s">
                <h3>Geschenke</h3>
                <p> Das absolut größte Geschenk ist eure Anwesenheit!!! <br/>Wenn ihr darüber hinaus etwas schenken möchtet:
                    Wir freuen uns über einen Beitrag für unsere Flitterwochen. </p>
            </div>
        </div>
    </div>
</section>