==
<section id="intro" class="parallax-section register">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <h2 class="wow bounceIn" data-wow-delay="0.9s">Wir heiraten!</h3>
                <h1 class="wow fadeInUp" data-wow-delay="1.6s">Stefanie & Sebastian</h2>
                <h3 class="wow fadeInUp" data-wow-delay="1.6s">22.12.2017</h2>

                {% if user == false %} {% partial 'template/login' %} {% endif %}

            </div>

        </div>
    </div>
</section>