<section id="witnesses" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow bounceIn col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Trauzeugen</h2>
                </div>
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-6 col-xs-6" data-wow-delay="0.3s">
                <div class="speakers-wrapper">
                    <img src="{{ 'assets/images/tanja.jpg'|theme }}" class="img-responsive"  >
                    <div class="speakers-thumb">
                        <h3>Tanja Steinebach</h3>
                        <h6>
                            <p>
                                <i class="fa fa-mobile" aria-hidden="true"></i> 0172/3568583
                            </p>
                            <p>
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <a href="mailto:ts@winterhochzeit-2017.de?Subject=Winterhochzeit%20Stefanie%20und%20Sebastian">ts@winterhochzeit-2017.de</a>
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="wow fadeInUp col-md-6 col-sm-6 col-xs-6" data-wow-delay="0.3s">
                <div class="speakers-wrapper">
                    <img src="{{ 'assets/images/alex.jpg'|theme }}" class="img-responsive"  >
                    <div class="speakers-thumb">
                        <h3>Alexander Braun</h3>
                        <h6>
                            <p>
                                <i class="fa fa-mobile" aria-hidden="true"></i> 0172/3568583
                            </p>
                            <p>
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <a href="mailto:ab@winterhochzeit-2017.de?Subject=Winterhochzeit%20Stefanie%20und%20Sebastian">ab@winterhochzeit-2017.de</a>
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>