title = "New Event theme"
url = "/"
layout = "default"
is_hidden = 0
==
{% partial 'template/intro'  %}

{% if false == user %}
  {% partial 'template/navbar' %}

{% partial 'template/program'  %}
{% partial 'template/dresscode'    %}
        {% partial 'template/gifts' %}
        {% partial 'template/honeymoon' %}
        {% partial 'template/witnesses' %}







        {% partial 'template/footer' %}

    {% if this.theme.settings_gotop %}
        <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
    {% endif %}


{% endif %}